body {
  font-size: 18px;
  font-family: sans-serif;  
  padding-bottom: 400px;
}

header {
  background: #c5ee9f;
  padding: 20px;
  color: #003362;
}

h1 {
  max-width: 1400px;
  margin: auto;
}

main {
  max-width: 1400px;
  margin: auto;
}

.divider-headline {
   background-color: green;
}

.rot {
  color: red;
}

.gruen {
  color: green;
}


#my-id {
  font-size: 30px;
}


/* Hallo Welt

asd

asd
as
d
ad
asd

*/


/* Stufenförmig */
ul li > strong {
  color: red;
}























































/* Spezifität */




































/* Box Modell */
* {
  /* border: 1px solid red !important; */
}
