body {
  font-size: 18px;
  font-family: sans-serif;  
  padding-bottom: 400px;
}

header {
  background: #c5ee9f;
  padding: 20px;
  color: #003362;
}

h1 {
  max-width: 1400px;
  margin: auto;
}

main {
  max-width: 1400px;
  margin: auto;
}

.divider-headline {
   background-color: green;
}

.rot {
  color: red;
}

.gruen {
  color: green;
}


#my-id {
  font-size: 30px;
}


/* Hallo Welt

asd

asd
as
d
ad
asd

*/


/* Stufenförmig */
ul li > strong {
  color: red;
}























































/* Spezifität */

div {
  background-color: red;
}

.my-green-div {
  background-color: green;
}

.my-red-div {
  background-color: crimson;
}

#my-blue-div {
  background-color: blue;
}

div {
  background-color: yellow;
}





























/* Box Modell */
* {
  /* border: 1px solid red !important; */
}

.my-box {
  width: 500px;
  height: 200px;
  padding: 25px;
  border: 5px solid brown;
  margin: 50px;
}

.my-inline-box {
  margin-top: 100px;
  display: inline;
  font-size: 500%;
}